@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  height: 100%;
  margin: 0;
  font-family: 'Noto Serif', 'serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1, h2, h3, h4, h5{
  font-family: "Noto Serif", serif;
}

.noto-serif{
  font-family: "Noto Serif", serif;
}

.bg {
  background-image: url("assets/background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-gray {
  color: grey;
}

.text-green{
  color: #43b001;
}

.remove_button_css {
  outline: none;
  padding: 5px;
  border: 0px;
  box-sizing: none;
  background-color: transparent;
}

.bg-pink {
  background-color: #ffd9d9;
}